### What is Python used for?

Python is commonly used for developing websites and software, task automation, data analysis, and data visualization. Since it’s relatively easy to learn.

#### What can you do with python? Some things include:

- Data analysis and machine learning

- Web development

- Automation or scripting

- Software testing and prototyping

- Everyday tasks

##  Why is Python so popular?

Python is popular for a number of reasons.
- It has a simple syntax, so it’s easier to read and understand.
- It’s beginner friendly.
- It’s open source, which means it’s free to use.
- Python’s archive of modules and libraries—bundles of code that third-party users have created to expand Python’s capabilitiesis vast and growing.

### Python Arithmetic Operators
- (+) Addition
- (-) Subtraction
- (*) Multiplication
- / Division
- // Floor Division 
- % modulus
- ** Exponent

In [6]:
33+45

78

In [7]:
# multiplication
3*4

12

In [23]:
# Floor Division
5//4

1

In [25]:
# Division
5/4

1.25

In [26]:
# modulus
7%4

3

In [27]:
3**2

9

### Data types
- Basic Types - (integer,float,complex,boolean and string)
- Container Types - (List,Tuples, Sets and Dictionary)

### Integers

Integer literals are created by any number without a decimal or complex component.

In [29]:
print(5)
type(5)

5

int

### Floats

Float literals can be created by adding a decimal component to a number.

In [11]:
x=5
#print(type(x))
type(x)

int

### Boolean

Boolean can be defined by typing True/False without quotes

In [37]:
print(True)
type(True)

True

bool

### Strings

A string is a sequence of characters.

In [62]:
print('Python is programming language')
type('Python is programming language')

Python is programming language

str

In [9]:
print('Data Einstein')
print("Data einstein")
print("""Data einstein""")

Data Einstein
Data einstein
Data einstein

### Complex

Complex literals can be created by using the notation x + yj where x is the real component and y is the imaginary component.

In [12]:
#complex numbers: note the use of `j` to specify the imaginary part
4+4j
type(4+4j)

complex

In [14]:
# Container Types
# List [] 
lst = [2,5,7,99,44,66]  
print(type(lst))
print(lst)
lst1 = ['Data','Python','Programming']
print(lst1)
lst2 = [3,9,5,'Python',True,3.2]
print(lst2)

<class 'list'>
[2, 5, 7, 99, 44, 66]
['Data', 'Python', 'Programming']
[3, 9, 5, 'Python', True]

In [15]:
# Tuples
tup1 = (45,66,44,66,4)
print(type(tup1))
print(tup1)
tup2  = ('Data','Science')
print(tup2)
tup3 = (34,6,6,'Data',True)
print(tup3)
print(type(tup3))

<class 'tuple'>
(45, 66, 44, 66, 4)
('Data', 'Science')
(34, 6, 6, 'Data', True)
<class 'tuple'>

In [16]:
# Create Sets
# unordred
set1 = {2,5,4,7,4,8,8,-3,-5,'Data'}
print(type(set1))
print(set1)
set2 = {'Python', 'Data'}
print(set2)
type(set2)

<class 'set'>
{2, 4, 5, 7, 8, 'Data', -5, -3}
{'Data', 'Python'}

set

In [17]:
# Dictionary
# Syntax dict1 = {key:value}
dic1 = {'Name':'Ram','Age':25} 
print(type(dic1))
print(dic1)

<class 'dict'>
{'Name': 'Ram', 'Age': 25}

### print() function

In [12]:
print("Hello World")

Hello World

In [18]:
print(5)

5

In [13]:
print("India","Sri-Lanka",'Bangladesh', sep='/')

India/Sri-Lanka/Bangladesh

In [22]:
print(1e309)

inf

In [24]:
print("India","Sri-Lanka",'Banglades','Hello',54, sep='-' )

India-Sri-Lanka-Banglades-Hello-54

In [16]:
print("India", 45,True)

India 45 True

In [26]:
print("Hello",end=' ')
print("World")P

Hello World

In [5]:
print("india","uttar pradesh","ghaziabad", end='\n')
print("sherpur")

india uttar pradesh ghaziabad
sherpur

## What is variables

In [18]:
# in C
# int a = 45 # static typing

In [8]:
# Create variable
a = 45 # Dynamic Typing
b = 10.0
c = a+b
print(c)

55.0

In [20]:
print(c)

55.0

In [9]:
a=16

In [3]:
type(a)

int

In [4]:
a=15

In [10]:
a

16