**input ():** This function first takes the input from the user and converts it into a string. The type of the returned object always will be <type ‘str’>.

In [7]:
# taking user input
first_num = input("Enter the first number ")
second_num = input("Enter the second number ")

Enter the first number 35
Enter the second number 45

In [8]:
print(first_num)
print(second_num)

35
45

In [9]:
result = first_num + second_num
print(result)

3545

In [10]:
name = input("Enter the name")
number = input("Enter the number")
print(name, number)
print(type(name))
print(type(number))

Enter the namevikas
Enter the number13545
vikas 13545
<class 'str'>
<class 'str'>

Whatever you enter as input, the input function converts it into a string. if you enter an integer value still **input()** function converts it into a string. You need to explicitly convert it into an integer in your code using **typecasting**.

In [12]:
first_num = int(input("Enter the first number "))
second_num = int(input("Enter the second number "))

result = first_num + second_num
print(result)

Enter the first number 45
Enter the second number 24
69